# OS
.DS_Store
Thumbs.db

.env
db.sqlite3
__pycache__/
*.pyc
staticfiles/
clean_data.json
local_data.json
error.txt
chk.txt
run_err.txt

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml
